<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
  <connectionStrings>
    <!--<add name="LocalDB" connectionString="server=localhost; Uid=root; pwd=12345678; persistsecurityinfo=True; Database={0}" providerName="MySql.Data.MySqlClient"/>-->
    <!--<add name="CloudDB" connectionString="server=207.210.232.10; Uid=compummc_prueba; pwd=rosfre146+;  persistsecurityinfo=True; Database={0}" providerName="MySql.Data.MySqlClient"/>-->
    <add name="CloudDB" connectionString="server=remotemysql.com; Uid=r9BluR85nh; pwd=ry9eU6Tc4d;  persistsecurityinfo=True; Database={0}" providerName="MySql.Data.MySqlClient"/>
    <!--<add name="MSCloudDB" connectionString="Data Source=den1.mssql7.gear.host;Initial Catalog=loyaltydb;User ID=loyaltydb;Password=Aw6KH!!9Lv29;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <!--<entityFramework codeConfigurationType="MySql.Data.Entity.MySqlEFConfiguration, MySql.Data.Entity.EF6">-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient"
          type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6"/>
      <provider invariantName="System.Data.SqlClient"
          type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL"
           type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.10.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>
