@*<style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>

    <div id="error-page" class="col-md-12">
        <div id="error-page-content">
            <img id="error-page-hh-illustration" src="https://images.assetsdelivery.com/compings_v2/lkeskinen/lkeskinen1610/lkeskinen161000285.jpg" alt="" class="center">
        </div>
        <span id="error-page-vertical-align"></span>
    </div>*@
<link rel="stylesheet" href="~/Content/Unauthorized.css" />

<div class="cage"></div>
<h1><span>403</span></h1>
