@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="jumbotron">
        <h2 class="text-primary">Bienvenidos a Compra Y Gana con Computadoras Y Accesorios M&M</h2>
    </div>
    <div>
        <h5>Es la nueva etapa del programa de recompensas de <b>COMPUTADORAS Y ACCESORIOS M&amp;M</b>, mediante el cual, agradecemos y premiamos la confianza de nuestros clientes que participan a través de sus compras.</h5>
    </div>
</div>
