<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Compra_y_Gana_v1._0.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <userSettings>
    <Compra_y_Gana_v1._0.Properties.Settings>
      <setting name="UserID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PercentagePoints" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PointValueCash" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AllowCashRequest" serializeAs="String">
        <value>False</value>
      </setting>
    </Compra_y_Gana_v1._0.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="LocalDB" connectionString="server=localhost; Uid=root; pwd=Rosfre146+-*/; persistsecurityinfo=True; Database={0}" providerName="MySql.Data.MySqlClient"/>
    <add name="CloudDB" connectionString="server=remotemysql.com; Uid=pfNoUgM0iJ; pwd=4GcaXD5plF;  persistsecurityinfo=True; Database={0}" providerName="MySql.Data.MySqlClient"/>
    <add name="MSCloudDB" connectionString="Data Source=den1.mssql7.gear.host;Initial Catalog=loyaltydb;User ID=loyaltydb;Password=Aw6KH!!9Lv29;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>
    <add name="LoyaltyDB" connectionString="Data Source=MGSOFT\MGSOFT;Initial Catalog=LoyaltyDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
